.input{
    background-color: white;
    display: flex;
    justify-content: space-between;
    height: 8%;
}

.enter input{
    border: none;
    padding: 1rem 0.3rem;
    vertical-align: middle;
    outline: none;
}

.send-option{
    opacity: 0.6;
    display: flex;
    .image{
        margin: 0 -10em;
        width: 2rem;
        object-fit:contain;
    }

    #send{
        margin-left: -8.5em;
        background-color: transparent;
        border: none;

        #btn{
            width: 2.3rem;
        }
    }
}

.tilt{
    transform: rotate(30deg);
}
