

.content{
    padding: 0.5rem;
    border-radius: 0.5rem;
    border-top-left-radius: 0;
    background-color: whitesmoke;
}

.extra{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
    gap: 0.4rem;
    margin: 0.5rem;
}

#profile{
    border-radius: 2rem;
}