.chat-info{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    background-color:  #64485c;
    color: #afafaf;
    font-size: 1.5rem;
    height: 5%;
}

#username{
    display: flex;
    gap: 0.5rem;
}

#options{
    display: flex;
    gap: 0.8rem;
    color: #ababab;
    .img{
        width: 1.9rem;
    }
}