#input{
    width: 100%;
    background-color: transparent;
    border-bottom: 0.8px solid #64485c;
    padding: 5px 8px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 5px;
}

#input::placeholder{
    color: #ADADAD;
}