.logout{
    background-color: transparent;
    border: none;
    outline: none;
    background-color: #64485c;
    color: #afafaf;
    border-radius: 0.33rem;
    font-size: 0.94rem;
}

.logo{
    font-weight: bold;
    color: #2e1114;
    padding: 0.13rem 0.25rem;
    font-size: 2.15rem;
}

.headline{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.066);
    padding-bottom: 1.5rem;
}

.user{
    display: flex;
    gap: 0.8rem;
    padding: 0.33rem;
    #name{
        font-size: 1.13rem;
    }
}

#pfp{
    border-radius: 1.5rem;
}

@media screen and (max-width:480px) {
    .logo{
        display: none;
    }
}