body, .home{
    background-color: #501B1D;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.container{
    border: 1px solid #64485C;
    width: 65%;
    height: 80%;
    display: flex;
    border-radius: 5px;
    overflow: hidden;
}