body{
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.main-container, .main{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.main{
    height: 80vh;
}

form{
    gap: 10px;
    display: flex;
    flex-direction: column;
}

input, input:active{
    font-size: 16px;
    border: none;
    outline: none;
    width: 300px;
    padding-bottom: 10px;
    border-bottom: 1px solid #2e1114;
    background-color: #afafaf;

    &::placeholder{
        color: #474747;
    }
}

.sign-up-btn{
    border: none;
    padding: 10px 0;
    border-radius: 7px;
    background-color: #64485c;
    color: #afafaf;
    font-size: 18px;
    &:hover{
        cursor: pointer;
    }
}

.form-wrapper{
    padding: 60px 30px;
    gap: 10px;
    border-radius: 20px;
    background-color:#afafaf;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-text{
    font-size: 17px;
}

.title{
    font-size: 17px;
}

#logo{
    font-size: 40px;
    font-weight: bold;
    color: #2e1114;
}

#avatar{
    display: none;
}

label{
    display:flex;
    padding: 0 25px;
    align-items: center;
    font-size: 13px;
}
img{
    width: 40px;
}

#err-message{
    color: firebrick;
    font-size: 15px;
    margin-bottom: -10px;
}